* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Pangram-Sans-Rounded', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 50px;
}